@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


:root {
  --background: #EDF2F7;
  --linear-blue:  linear-gradient(to right, rgba(1, 149, 218, 0.67), #0195DA,  #1B4BA8);

  --text-black: #333849;
  --offline: #DC3545;
  --online: #77D164;
  --text-white: #ffffff;
  --background-container: #0000000A

}
* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}
body{
  background-color: var(--background);
}
.modal{
  display: none;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  padding-top: 20rem;
  left: 0;
  top: 0;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4)
}
.modal-content{
  background-color: var(--background);
  margin: auto;
  padding: 5rem;
  width: 50%;
}
.close{
  color: var(--text-black);
  float: right;
  font-size: x-large;
  font-weight: 600;
}
.close:hover,
.close:focus{
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.nav-wrapper {
  height: 8rem;
  padding: 15px;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to right, rgba(1, 149, 218, 0.67), #0195DA,  #1B4BA8);
}
.title{
  color: var(--text-white);
  font-weight: 600;
  font-size: xx-large;
  align-self: center;
  background-color: transparent;
}
.collection{
  background-color: var(--background-container);
  border-radius: 1rem;
  padding: 1rem 1rem 3rem 1rem;
}
.collection-list{
  list-style: none;
  display: grid;
  grid-template-columns: 200px 200px;
  gap: 1rem;
}
.collection-header{
  color: var(--text-black);
  font-size: x-large;
  background-color: transparent;
  padding: 1rem 0 1rem 0;
}
.container{
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}
.collection-item{
  border-radius: 1rem;
  background-color: var(--background-container);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 0 1rem 0 1rem;
}
.collection-item a{
  text-decoration: none;
}
.collection-item-info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.collection-item-content{
  padding: 1rem 0 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 500;
  gap: 1rem;
}
.collection-item-title{
  background-color: transparent;
  color: var(--text-black);
}
.online{
  background-color: var(--online);
  color: var(--text-black);
}
.online div{
  color: var(--text-black);

}
.offline{
  background-color: var(--offline);
  color: var(--text-white);
}
.offline div{
  color: var(--text-white);
}
.card-panel{
  width: 100%;
  display: flex;
  justify-content: center;
  font-weight: 500;
}
.card-panel-div{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  padding: 0 0.5rem;
}
.status-online .card-panel-icon{
  border-radius: 0.5rem;
  padding: 0.2rem;
  background-color: var(--online);
}
.status-offline .card-panel-icon{
  border-radius: 0.5rem;
  padding: 0.2rem;
  color: var(--text-white);
  background-color: var(--offline);
}
.footer-copyright{
  display: flex;
  justify-content: center;
}