:root {
  --background: #EDF2F7;
  --linear-blue:  linear-gradient(to right, rgba(1, 149, 218, 0.67), #0195DA,  #1B4BA8)

  --text-black: #333849;
  --offline: #DC3545;
  --online: #77D164;
  --text-white: #ffffff;

}

* {
  box-sizing: border-box;
  font-family: "Roboto"
  background-color: var(--background)
}

.nav-wrapper {

  color: var(--text-white);
  padding: 15px;
  background-image: linear-gradient(to right, rgba(1, 149, 218, 0.67), #0195DA,  #1B4BA8)
}

.nav-image {
  box-sizing: content-box;

  /*position: absolute;*/
  /*width: 103rem;*/
  /*height: 28rem;*/
  margin-top: -400px;

  height: 455px;
  background-size: cover;
  background-position: center
  background-repeat: no-repeat;
  background-image: url(/images/ufal-sigla-branca-fundo-transparente-40por-cento.png)
  
}

.image{
}

.nav-title {
display: flex;
flex-direction: flex-start;
align-items: flex-start;
justify-content: center;

}

.collection-card {
  border: 1px solid var(--text-black)
  width: 2rem;
  height: 3rem;
  padding: 20px;
  marging: 20px;
  display: flex;
  transition: .5s;
  opacity: 1;
  background-color: var(--offline)
  

}

.collection-card:hover {
  cursor:pointer;
  opacity: .8;

}