@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


:root {
  --background: #EDF2F7;
  --linear-blue:  linear-gradient(to right, rgba(1, 149, 218, 0.67), #0195DA,  #1B4BA8);

  --text-black: #333849;
  --offline: #DC3545;
  --online: #77D164;
  --text-white: #ffffff;
  --background-container: #0000000A

}
* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}
body{
  background-color: var(--background);
}
.modal{
  display: none;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  padding-top: 12rem;
  left: 0;
  top: 0;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: grayscale(30%) blur(2px);
}
.modal-content{
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 1rem;
  height: 70%;
  width: 40%;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.modal-content-info{
  padding: 3rem 2rem 1rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.modal-content-title{
  font-size: xx-large;
  color: #0195DA;
}
.modal-content-status{
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
}
.modal-status{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}
.modal a{
  text-decoration: none;
}
.modal-content-status i{
  border-radius: 0.25rem;
  padding: 0.2rem;
}
.status-offline{
  display: flex;
}
.status-online{
  display: none;
}
.modal-content-status-time{
  color: var(--offline);
}
.modal-content-image{
  border-radius: 0.5rem;
  align-self: center;
  margin: 1rem 0;
  width: 90%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3)
}
.close{
  color: var(--text-black);
  align-self: flex-end;
  float: right;
  font-size: xx-large;
  font-weight: 600;
}
.close:hover,
.close:focus{
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.nav-wrapper {
  height: 8rem;
  padding: 15px;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to right, rgba(1, 149, 218, 0.67), #0195DA,  #1B4BA8);
  position: relative;
}

.nav-image {
  position: absolute;
  top: -5rem;
  right: 30%;
  height: 13rem;
  width: 20rem;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url(/images/ufal-sigla-branca-fundo-transparente-40por-cento.png)
}

.title{
  color: var(--text-white);
  font-weight: 600;
  font-size: xx-large;
  align-self: center;
  background-color: transparent;
  position: relative;
  top: 35%;
  align-items: center;
  display: flex;
  justify-content: center;
}
.content{
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.container{
  padding: 2rem;
  gap: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
.content{
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.container{
  padding: 2rem;
  gap: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
.collection{
  background-color: var(--background-container);
  border-radius: 1rem;
  padding: 1rem 1rem 3rem 1rem;
}
.collection-list{
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;

}
.collection-list:hover{
  cursor: pointer;
}
.collection-header{
  color: var(--text-black);
  font-size: x-large;
  background-color: transparent;
  padding: 1rem 0 1rem 0;
}
.collection-item{
  border-radius: 1rem;
  background-color: var(--background-container);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 0 1rem 0 1rem;
}
.collection-item-info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.collection-item-content{
  padding: 1rem 0 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 500;
  gap: 1rem;
}
.collection-item-title{
  background-color: transparent;
  color: var(--text-black);
}
.online{
  background-color: var(--online);
  color: var(--text-black);
}
.online div{
  color: var(--text-black);

}
.offline{
  background-color: var(--offline);
  color: var(--text-white);
}
.offline div{
  color: var(--text-white);
}
.card-panel{
  padding: 1rem 0 1rem 0;
  width: 100%;
  display: flex;
  justify-content: center;
  font-weight: 500;
}
.card-panel-div{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  padding: 0 0.5rem;
}
.status-online .card-panel-icon{
  border-radius: 0.5rem;
  padding: 0.2rem;
  background-color: var(--online);
}
.status-offline .card-panel-icon{
  border-radius: 0.5rem;
  padding: 0.2rem;
  color: var(--text-white);
  background-color: var(--offline);
}
.footer-copyright{
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
  gap: 0.5rem;
}

@media (max-width: 1279px) {
  .content{
    flex-direction: column-reverse;
  }
  .card-panel{
    padding-bottom: 0;
  }
  .modal{
    padding-top: 12rem;
  }
  .modal-content{
    width: 60%;
    height: 70%;
  }
  .modal-content-title{
    font-size: x-large;
  }
  .modal-content-info{
    justify-content: space-between;
    align-items: center;
  }
}
@media (max-width: 768px){
  .modal{
    padding-top: 12rem;
  }
  .modal-content{
    width: 80%;
    height: 70%;
  }
  .modal-content-title{
    font-size: x-large;
  }
  .modal-content-info{
    justify-content: space-between;
    align-items: center;
  }
}
@media (max-width: 480px){
  .modal{
    padding-top: 4rem;
  }
  .modal-content{
    width: 90%;
    height: 80%;
  }
  .modal-content-status{
    flex-direction: column;
    align-items: end;
  }
  .modal-content-title{
    font-size: large;
  }
  .modal-content-info{
    justify-content: space-between;
    align-items: center;
  }
}